/* ========== HERO-HEADER ANIMATION ========== */
.hero-header {
  opacity: 0;
  transition: opacity 1.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  background: #21212100;
  pointer-events: auto;
  visibility: visible;
}

.hero-header.visible {
  opacity: 1;
}

.hero-header.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* ========== HERO BUTTON ========== */
.start-btn-wrapper {
  margin-top: 24px;
}

.start-btn {
  cursor: pointer;
  width: 20%;
}

.start-btn:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* ========== MAIN ANIMATION ========== */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ========== MAIN HEADINGS ========== */
.main-heading {
  font-family: 'Silkscreen', cursive;
  font-size: clamp(1rem, 7vw, 4rem);
  color: #fef9eb;
  text-align: center;
  margin-bottom: 10px;
  white-space: nowrap;
}

.main-heading2 {
  font-family: 'Silkscreen', cursive;
  font-size: clamp(1.3rem, 4vw, 4.5rem);
  color: #fef9eb;
  text-align: center;
  margin-bottom: 10px;
  white-space: nowrap;
}

.main-top-heading {
  font-family: 'Silkscreen', cursive;
  font-size: clamp(0.4rem, 3vw, 2.2rem);
  color: #dccaa0;
  text-align: center;
}

.main-subheading {
  font-family: 'VT323', monospace;
  font-size: clamp(1rem, 3.5vw, 3.8rem);
  color: #dccaa0;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

.main-text {
  font-family: 'VT323', monospace;
  font-size: clamp(0.8rem, 2.5vw, 1.8rem);
  color: #fef9eb;
  text-align: center;
  line-height: 1.6;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0 10px;
}

/* ========== FOOTER AUSBLENDEN SOLANGE HERO SICHTBAR ========== */
body.header-active footer {
  display: none;
}

/* ========== OAK HINWEIS ========== */

.laboratory-info {
  font-family: 'VT323', monospace;
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  color: #fef9eb;
  text-align: center;
  margin-top: 10px;
  padding: 0 20px;
}

.oak-btn {
  background: none;
  border: 2px solid #dccaa0;
  color: #dccaa0;
  padding: 8px 20px;
  font-size: clamp(0.3rem, 2.5vw, 0.6rem);
  font-family: 'Silkscreen', cursive;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s ease;
  letter-spacing: 0.5px;
}

.oak-btn:hover {
  background: #dccaa020;
}

/* ========== OAK DROPDOWN ========== */

.oak-background {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.oak-wrapper {
  position: relative;
  width: 100%;
}

.oak-bg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.oak-bg.dimmed {
  opacity: 0.4;
}

.tap-right {
  position: absolute;
  top: 38%;
  width: 4%;
  right: 50.3%;
}

.tap-down {
  position: absolute;
  top: 18%;
  width: 3%;
  right: 20%;
}

/* ========= OAK RESULT BOX ========== */

.oak-result-box {
  position: absolute;
  top: 13%;
  left: 9%;
  width: 39%;
  height: 48%;
  background-color: rgba(25, 32, 42, 0.8);
  border-radius: 8px;
  padding: 2%;
  box-sizing: border-box;
  font-family: 'Silkscreen', cursive;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#oak_result_label {
  font-size: clamp(0.6rem, 2vw, 1.4rem);
  color: #dccaa0;
  text-align: center;
}

#oak_result {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oak-pokemon-result {
  width: 46%;
  max-width: 300px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.oak-pokemon-result img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -12%;
  left: 1%;
}

.oak-pokemon-result img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.oak-pokemon-name {
  font-size: clamp(0.6rem, 3vw, 2rem);
  color: #fef9eb;
  text-shadow: 0 0 5px #000, 0 0 10px #fef9eb;
  position: absolute;
  bottom: 14%;
  left: 33%;
}

.oak-msg {
  opacity: 0.4;
  color: #fff;
  font-size: clamp(0.6rem, 3vw, 2rem);
  text-align: center;
}

/* ========== OAK INPUT ========== */

.oak-input-wrapper {
  position: absolute;
  bottom: 8%;
  left: 7%;
  width: 86%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

#oak_search {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: clamp(1rem, 2vw, 1.3rem);
  text-align: center;
  background: #fef9eb;
  font-family: 'VT323', monospace;
  box-sizing: border-box;
  z-index: 2;
  color: #000000;
}

/* ========== PROFESSOR IMAGE ========== */

.professor-img {
  position: absolute;
  bottom: calc(4% + 36px);
  right: 3%;
  max-width: 47%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

/* ========== OAK UI ========== */

.oak-ui {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease;
}

.oak-ui.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ========== SCREEN HITBOX ========== */

.screen-hitbox {
  position: absolute;
  top: 36%;
  left: 52%;
  width: 8%;
  height: 8%;
  cursor: pointer;
  z-index: 5;
  transition: background-color 0.5s ease;
}

.screen-hitbox:hover {
  background-color: rgba(255, 255, 255, 0.63);
  transition: background-color 0.5s ease;
  transform: scale(1.05);
}

/* ========== PROFESSOR BUTTON ========== */

.professor-button {
  position: absolute;
  bottom: 5%;
  left: 61%;
  width: 35%;
  cursor: pointer;
  z-index: 2;
  opacity: 1;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.professor-button:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease;
}

.professor-button.hidden {
  opacity: 0;
  pointer-events: none;
}

/* ========== OAK CLOSE BUTTON ========== */

.oak-close-btn {
  position: absolute;
  top: 7%;
  right: 8%;
  width: 8%;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.2s ease;
}

.oak-close-btn:hover {
  transform: scale(1.05);
}

/* ========== MONITOR SECTION ========== */

.monitor-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

#monitor_section {
  position: relative; /* Wichtig für absolute Positionierung innerhalb */
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

#monitor_section.show {
  opacity: 1;
  max-height: 1000px; /* Genug Platz für den Monitor + Leiste */
  pointer-events: auto;
}

#oak_monitor {
  width: 100%;
  display: block;
  border-radius: 8px;
}

/* ========== CLOSE BUTTON ========== */

.close-btn {
  position: absolute;
  bottom: 6%;
  right: 10%;
  width: 9%;
  height: 6.3%;
  aspect-ratio: 1 / 1;
  font-size: 2vw;
  background: transparent;
  color: #ccc;
  border: none;
  font-family: 'VT323', monospace;
  cursor: pointer;
  z-index: 5;
  transition: all 0.3s ease;
}

.close-btn:hover {
  transform: scale(1.1);
}

/* ========== POKEDEX ========== */

.pokedex-screen {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 66%;
  background-color: #4b937cbe;
  box-sizing: border-box;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;
}

.pokedex-main-section {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  background-color: #4b937c34;
  box-sizing: border-box;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;
}

.pokedex-header {
  position: absolute;
  width: 100%;
  height: 35%;
  padding: 5%;
  box-sizing: border-box;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-text {
  display: block;
  font-size: clamp(16px, 4vw, 72px);
  margin-bottom: 3%;
  color: #fef9eb;
  text-shadow: 0 0 5px #000000, 0 0 10px #fef9eb;
}

.choose-gen-text {
  display: block;
  font-size: clamp(12px, 2.5vw, 34px);
  color: #fef9eb;
  text-shadow: 0 0 5px #000000, 0 0 10px #fef9eb;
}

/* ========== POKEDEX GENERATION NAVIGATION ========== */

.gen-btn {
  position: absolute;
  aspect-ratio: 1 / 1;
  font-size: 2vw;
  background: transparent;
  color: #ccc;
  border: none;
  font-family: 'VT323', monospace;
  cursor: pointer;
  z-index: 5;
  transition: all 0.3s ease;
}

.gen-btn-1-3 {
  bottom: 50%;
  width: 14%;
  height: 11.3%;
}

.gen-btn-4-6 {
  bottom: 35%;
  width: 14%;
  height: 11.3%;
}

.gen-btn-7-9 {
  bottom: 20%;
  width: 14%;
  height: 11.3%;
}

.gen-btn:hover {
  color: #fff;
  transform: scale(1.1);
}

.gen-btn.first-row {
  left: 25%;
}
.gen-btn.second-row {
  left: 43.1%;
}
.gen-btn.third-row {
  right: 25%;
}

/* ========== POKEDEX GENERATION SECTION ========== */

.pokedex-gen-section {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 98%;
  height: 98%;
  background-color: #4b937c34;
  box-sizing: border-box;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;
}

.pokedex-main-section,
.pokedex-gen-section {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.pokedex-main-section.show,
.pokedex-gen-section.show {
  opacity: 1;
  pointer-events: auto;
}

.gen-nav {
  position: absolute;
  top: 1%;
  width: 7%;
  height: auto;
  cursor: pointer;
  z-index: 5;
}

.left-nav {
  left: 19%;
}
.right-nav {
  right: 19%;
}

.gen-nav:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.gen-close-btn {
  position: absolute;
  top: -2%;
  right: 46%;
  width: 8%;
  height: auto;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.2s ease;
}

.gen-close-btn:hover {
  transform: scale(1.05);
}

/* ========= POKEMON OUTPUT ========== */

#pokemon_output {
  position: absolute;
  top: 10%;
  left: -1%;
  width: 102%;
  height: 91%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
}

.pokemon-card {
  position: relative;
  width: 18%;
  height: 25%;
  text-align: center;
  font-size: clamp(10px, 1.6vw, 28px);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pokemon-card img {
  position: absolute;
  width: 61%;
  left: 22%;
  top: 23%;
  height: auto;
  margin: -9% auto -9%;
  display: block;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  transition: transform 0.7s ease, opacity 0.3s ease;
  z-index: 2;
}

.pokemon-nr {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fef9eb;
  text-shadow: 0 0 5px #000000, 0 0 10px #fef9eb;
  font-weight: normal;
  z-index: 1;
  transition: top 0.6s ease, transform 0.6s ease;
}

.pokemon-name {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fef9eb;
  text-shadow: 0 0 5px #000000, 0 0 10px #fef9eb;
  font-weight: normal;
  z-index: 1;
  transition: bottom 0.6s ease, transform 0.6s ease;
}

.pokemon-card:hover img {
  opacity: 1;
  transform: scale(1.1);
  transition: transform 0.7s ease, opacity 0.3s ease;
  z-index: 3;
}

.pokemon-card:hover .pokemon-name {
  bottom: 10%;
  transform: translateX(-50%) translateY(30%);
}

.pokemon-card:hover .pokemon-nr {
  top: 10%;
  transform: translateX(-50%) translateY(-40%);
}

.pokemon-card:hover .pokemon-name,
.pokemon-card:hover .pokemon-nr {
  z-index: 0;
}

/* TESTBEREICH */

#loading-screen {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.685);
  color: #fef9eb;
  text-shadow: 0 0 5px #000000, 0 0 10px #fef9eb;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#loading-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

.pokemon-card {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.pokemon-card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ========== VOLUME SLIDER ========== */

.center-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-slider-wrapper {
  text-align: center;
}

.volume-slider-wrapper label {
  font-family: 'VT323', monospace;
  color: #fef9eb;
  font-size: clamp(0.6rem, 1.5vw, 1.2rem);
}

/* ========== POKEMON DETAILS OVERLAY ========== */

#pokemon_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #212121e6;
  align-items: center;
  z-index: 200;
  transition: opacity 0.4s ease;
}

#pokemon_overlay.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden; /* <--- diese Zeile hinzufügen */
}

.pokemon-detail-card {
  position: relative;
  width: clamp(300px, 90%, 720px);
  aspect-ratio: 3 / 4.2;
  background-image: url('./assets/img/pokedex_card.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  transition: transform 0.4s ease;
}

.pokemon-detail-card-inner {
  position: absolute;
  top: -0.9%;
  left: 0.4%;
  width: 70%;
  height: 80.7%;
  margin: 14.6%;
  background-color: #00000035;
  box-sizing: border-box;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.pokemon-detail-card-inner.visible {
  opacity: 1;
}

.card-close-btn {
  position: absolute;
  top: 3%;
  right: 5.5%;
  width: 12%;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-close-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-id {
  position: absolute;
  top: 1%;
  left: 20%;
  transform: translateX(-50%);
  font-family: 'Silkscreen', cursive;
  font-size: clamp(1rem, 8vw, 54px);
  z-index: 1;
  text-align: center;
}

.card-name {
  position: absolute;
  top: 39%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-family: 'Silkscreen', cursive;
  font-size: clamp(1rem, 8vw, 52px);
  text-align: center;
  z-index: 1;
}

.card-image {
  position: absolute;
  bottom: 67%;
  right: 35%;
  width: 29%;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.card-image.loaded {
  opacity: 1;
}

.card-type {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Silkscreen', cursive;
  font-size: clamp(0.8rem, 3vw, 1.8rem);
  text-align: center;
  z-index: 1;
}

.back-btn {
  position: absolute;
  bottom: 3%;
  left: 5%;
  width: 8%;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.next-btn {
  position: absolute;
  bottom: 3%;
  right: 5%;
  width: 8%;
  cursor: pointer;
  z-index: 5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.back-btn:hover,
.next-btn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card-types {
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 2;
}

.type-icon {
  width: clamp(24px, 4vw, 42px);
  height: auto;
  filter: drop-shadow(0 0 3px #000000aa);
  transition: transform 0.3s ease;
}

.type-icon:hover {
  transform: scale(1.1);
}

.card-tabs {
  position: absolute;
  top: 48%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.tab-btn {
  background: none;
  border: none;
  color: #fef9eb;
  font-family: 'Silkscreen', cursive;
  font-size: clamp(0.8rem, 2.5vw, 1.4rem);
  cursor: pointer;
  padding: 6px 12px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.tab-btn:hover,
.tab-btn.active {
  opacity: 1;
}

.tab-content-container {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  height: 34%;
  z-index: 2;
  overflow: hidden;
  color: #fef9eb;
  font-family: 'VT323', monospace;
  font-size: clamp(1.4rem, 3vw, 2.2rem);
  text-align: center;
}

.tab-section {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 91%;
  height: 83%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.tab-section.active {
  opacity: 1;
  pointer-events: auto;
}

.about-text {
  font-size: clamp(0.8rem, 3.7vw, 1.8rem);
  line-height: 1.6;
  text-align: justify;
  padding: 0 8px;
}

.stats-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.stats-container > div {
  position: absolute;
}

.meta-left {
  top: 0;
  left: 0;
  font-size: clamp(0.8rem, 3.7vw, 1.8rem);
  text-align: left;
}

.meta-right {
  top: 4%;
  right: 2%;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.type-icon {
  width: clamp(30px, 6vw, 50px);
  height: auto;
}

.stats-left {
  bottom: 0;
  left: 0;
  font-size: clamp(0.8rem, 3.7vw, 1.8rem);
  text-align: left;
}

.stats-right {
  bottom: 0;
  right: 0;
  font-size: clamp(0.8rem, 3.7vw, 1.8rem);
  text-align: right;
}

.stats-container p {
  margin: 4px 0;
}

/* testbereich */
