#card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  transition: opacity 0.3s;
  opacity: 1;
}

#card_container.fading {
  opacity: 0;
}

main {
  position: relative; /* damit das Overlay positioniert werden kann */
  z-index: 1;
  overflow: hidden;
}
