* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'VT323', monospace;
  font-weight: 200;
  color: #fef9eb;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: #19202a url('../assets/img/animated_bg.svg') no-repeat center center fixed;
  background-size: cover;
}

.page-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background: #19202a70;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px #0001;
  border-radius: 8px;
}

main {
  flex: 1;
}

.section-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 30px;
}

/* Responsive Anpassung */
@media (max-width: 768px) {
}

@media (max-width: 650px) {
  .section-wrapper {
    padding: 20px 5px 0;
  }
}

@media (max-width: 420px) {
  .section-wrapper {
    padding: 20px 5px 0;
  }
}
